body {
  margin: 1;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: rgb(192, 191, 193); 
  text-align:left;   
  }




  .text-box {

  border: 2px solid #333;    
  padding: 20px;             
  margin: 10px;           
  

  width: 300px;              
  border-radius: 8px;       
  background-color: #f9f9f9; 
}

  .text-box-2 {

  border: 2px solid #333;    
  padding: 20px;             
  margin: 10px;           
  

  width: 300px;              
  border-radius: 8px;       
  background-color: #f9f9f9; 
}

.absolute_image {
  position: absolute;    
  top: 120px;               
  left: 400px;               
  
  width: 500px;
  height: auto;
}

.button1 {

  border: 2px solid #333;    
  padding: 20px;             
  margin: 10px;           
  position: absolute;
  top: 550px;
            
  border-radius: 8px;       
  background-color: #f9f9f9; 
}

.button2 {

  border: 2px solid #333;    
  padding: 20px;             
  margin: 10px;           
  position: absolute;
  top: 550px;
  left: 300px;
            
  border-radius: 8px;       
  background-color: #f9f9f9; 
}

.button3 {

  border: 2px solid #333;    
  padding: 20px;             
  margin: 10px;           
  position: absolute;
  top: 550px;
  left: 620px;
  width: 150px;
            
  border-radius: 8px;       
  background-color: #f9f9f9; 
}